
.tw-icons-speed:before {
  content: "\e948";
}
.tw-icons-wp-family:before {
  content: "\e903";
}
.tw-icons-websites:before {
  content: "\e906";
}
.tw-icons-security:before {
  content: "\e907";
}
.tw-icons-optimization:before {
  content: "\e93d";
}
.tw-icons-image-optimizer:before {
  content: "\e943";
}
.tw-icons-help-center:before {
  content: "\e944";
}
.tw-icons-copy:before {
  content: "\e946";
}
.tw-icons-backups:before {
  content: "\e947";
}
.tw-icons-overview:before {
  content: "\e96f";
}
.tw-icons-templates:before {
  content: "\e970";
}
.tw-icons-navigation-link:before {
  content: "\e971";
}
.tw-icons-arrow-down:before {
  content: "\e972";
}
.tw-icons-opened-eye:before {
  content: "\e973";
}
.tw-icons-closed-eye:before {
  content: "\e900";
}
.tw-icons-menu-mobile:before {
  content: "\e901";
}
.tw-icons-warning:before {
  content: "\e902";
}
.tw-icons-arrow:before {
  content: "\e904";
}
.tw-icons-manage:before {
  content: "\e905";
}
.tw-icons-triangle-warning:before {
  content: "\e908";
}
.tw-icons-error:before {
  content: "\e909";
}
.tw-icons-question:before {
  content: "\e90a";
}
.tw-icons-information:before {
  content: "\e90b";
}
.tw-icons-minus:before {
  content: "\e90c";
}
.tw-icons-play:before {
  content: "\e90d";
}
.tw-icons-add:before {
  content: "\e90e";
}
.tw-icons-calendar:before {
  content: "\e90f";
}
.tw-icons-recycle-bin:before {
  content: "\e910";
}
.tw-icons-cursor:before {
  content: "\e911";
}
.tw-icons-user:before {
  content: "\e912";
}
.tw-icons-star:before {
  content: "\e913";
}
.tw-icons-money-back-guarantee:before {
  content: "\e914";
}
.tw-icons-desktop:before {
  content: "\e915";
}
.tw-icons-mobile:before {
  content: "\e916";
}
.tw-icons-list-view:before {
  content: "\e917";
}
.tw-icons-thumbnail-view:before {
  content: "\e918";
}
.tw-icons-settings-horizontal:before {
  content: "\e919";
}
.tw-icons-zoom-out:before {
  content: "\e91a";
}
.tw-icons-zoom-in:before {
  content: "\e91b";
}
.tw-icons-website-link:before {
  content: "\e91c";
}
.tw-icons-checkmark:before {
  content: "\e91d";
}
.tw-icons-icon:before {
  content: "\e91e";
}
.tw-icons-direct-link:before {
  content: "\e91f";
}
.tw-icons-export:before {
  content: "\e920";
}
.tw-icons-download:before {
  content: "\e921";
}
.tw-icons-switch:before {
  content: "\e922";
}
.tw-icons-navigation-right:before {
  content: "\e923";
}
.tw-icons-navigation-left:before {
  content: "\e924";
}
.tw-icons-navigation-up:before {
  content: "\e925";
}
.tw-icons-navigation-down:before {
  content: "\e926";
}
.tw-icons-minus1:before {
  content: "\e927";
}
.tw-icons-navigation:before {
  content: "\e928";
}
.tw-icons-close:before {
  content: "\e929";
}
.tw-icons-plus:before {
  content: "\e92a";
}
.tw-icons-notification:before {
  content: "\e92b";
}
.tw-icons-activities:before {
  content: "\e92c";
}
.tw-icons-activity:before {
  content: "\e92d";
}
.tw-icons-close-error:before {
  content: "\e92e";
}
.tw-icons-disc-checkmark:before {
  content: "\e92f";
}
.tw-icons-loading:before {
  content: "\e930";
}
.tw-icons-loading-status:before {
  content: "\e931";
}
.tw-icons-progress:before {
  content: "\e932";
}
.tw-icons-language:before {
  content: "\e933";
}
.tw-icons-knowladge-base:before {
  content: "\e934";
}
.tw-icons-arrow-right:before {
  content: "\e935";
}
.tw-icons-arrow-up:before {
  content: "\e936";
}
.tw-icons-edit:before {
  content: "\e937";
}
.tw-icons-settings:before {
  content: "\e938";
}
.tw-icons-unlocked:before {
  content: "\e939";
}
.tw-icons-locked:before {
  content: "\e93a";
}
.tw-icons-multisite:before {
  content: "\e93b";
}
.tw-icons-wordpress:before {
  content: "\e93c";
}
.tw-icons-builder:before {
  content: "\e93e";
}
.tw-icons-navigation-deg:before {
  content: "\e93f";
}
.tw-icons-search:before {
  content: "\e940";
}
.tw-icons-my-sites:before {
  content: "\e941";
}
.tw-icons-users:before {
  content: "\e942";
}
.tw-icons-seo:before {
  content: "\e945";
}
.tw-icons-recreate-with-ai:before {
  content: "\e952";
}
.tw-icons-cdn:before {
  content: "\e954";
}
.tw-icons-logs:before {
  content: "\e955";
}
.tw-icons-manage-environment:before {
  content: "\e956";
}
.tw-icons-resource-usage:before {
  content: "\e957";
}
.tw-icons-restore-points:before {
  content: "\e958";
}
.tw-icons-redirect:before {
  content: "\e959";
}
.tw-icons-tools:before {
  content: "\e95a";
}
.tw-icons-domains:before {
  content: "\e95d";
}
.tw-icons-hosting:before {
  content: "\e95f";
}
