<footer class="footer">
    <div class="footer-inner">
        <div class="footer-menu-container">
            <div class="footer-top">
                <div class="content-left">
                    <div class="footer-logo">
                        <a href="https://10web.io" target="_blank">
                            <img src="{{asset 'logo.svg'}}" alt="10Web logo"/>
                        </a>
                    </div>
                    <p class="footer_location">TenWeb, Inc.<br> 40 E Main St, Suite 721<br> Newark, DE 19711<br> United States</p>
                </div>
                <div class="content-right">
                    <div class="footer-menu">
                        <aside class="footer_widget_nav_menu">
                            <div class="footer_widget">
                                <h3 class="footer_titles">AI Builder</h3>
                                <div class="footer-right-menu-container">
                                    <ul>
                                         <li class="menu-items"><a href="https://10web.io/ai-website-builder/">AI Website Builder</a></li>
                                         <li class="menu-items"><a href="https://10web.io/ai-ecommerce-website-builder/">Ecommerce AI Builder</a></li>
                                         <li class="menu-items"><a href="https://10web.io/wordpress-ai-builder/">WordPress AI Builder</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="footer_widget">
                                <h3 class="footer_titles">Product</h3>
                                <div class="footer-right-menu-container">
                                    <ul>
                                         <li class="menu-items"><a href="https://10web.io/managed-wordpress-hosting/">Managed WordPress Hosting</a></li>
                                         <li class="menu-items"><a href="https://10web.io/dedicated-hosting/">Dedicated WordPress Hosting</a></li>
                                         <li class="menu-items"><a href="https://10web.io/vps-hosting/">WordPress VPS Hosting</a></li>
                                         <li class="menu-items"><a href="https://10web.io/buddyboss-hosting/">BuddyBoss Hosting</a></li>
                                   </ul>
                                </div>
                            </div>
                        </aside>
                        <aside class="footer_widget_nav_menu">
                            <div class="footer_widget">
                                <h3 class="footer_titles">Product</h3>
                                <div class="footer-right-menu-container">
                                    <ul>
                                         <li class="menu-items"><a href="https://10web.io/page-speed-booster/">PageSpeed Booster</a></li>
                                         <li class="menu-items"><a href="https://10web.io/plugins/">WordPress Plugins</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="footer_widget">
                                <h3 class="footer_titles">Business Tools</h3>
                                <div class="footer-right-menu-container">
                                    <ul>
                                         <li class="menu-items"><a href="https://10web.io/domain-name/">Free Custom Domain</a></li>
                                         <li class="menu-items"><a href="https://10web.io/tools/slogan-generator/">Slogan Generator</a></li>
                                         <li class="menu-items"><a href="https://10web.io/ai-seo/">AI SEO Keyword Generator</a></li>
                                         <li class="menu-items"><a href="https://10web.io/ai-website-builder/industries/">Industry Explorer</a></li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                        <aside class="footer_widget_nav_menu">
                            <div class="footer_widget">
                                <h3 class="footer_titles">Resources</h3>
                                <div class="footer-right-menu-container">
                                    <ul>
                                         <li class="menu-items"><a href="https://10web.io/blog/" target="_blank">Blog</a></li>
                                         <li class="menu-items"><a href="https://10web.io/case-studies/">Case Studies</a></li>
                                         <li class="menu-items"><a href="https://10web.io/wordpress-glossary/">Glossaries</a></li>
                                         <li class="menu-items"><a href="https://10web.io/builder-comparisons/">Website Builder Comparisons</a></li>
                                         <li class="menu-items"><a href="https://10web.io/hosting-comparisons/">Hosting Comparisons</a></li>
                                         <li class="menu-items"><a href="https://10web.io/website-templates/">Website Templates</a></li>
                                         <li class="menu-items"><a href="https://10web.io/wordpress-plugins/">WordPress Plugins Repository</a></li>
                                         <li class="menu-items"><a href="https://10web.io/ai-tools/">AI Tools Repository</a></li>
                                         <li class="menu-items"><a href="https://10web.io/ai-simplified-newsletter/">AI Simplified Newsletter</a></li>
                                         <li class="menu-items"><a href="https://10web.io/press-kit/">Press Kit</a></li>
                                         <li class="menu-items"><a href="https://help.10web.io/hc/en-us/articles/360028017772-10Web-Public-Roadmap" target="_blank">Public Roadmap</a></li>
                                         <li class="menu-items"><a href="https://help.10web.io/hc/en-us" target="_blank">Help Center</a></li>
                                        <li class="menu-items"><a href="https://help.10web.io/hc/en-us/community/topics" target="_blank">Submit Your Idea</a></li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                        <aside class="footer_widget_nav_menu last_column">
                            <div class="footer_widget">
                                <h3 class="footer_titles">Resources</h3>
                                <div class="footer-right-menu-container">
                                    <ul>
                                         <li class="menu-items"><a href="https://10web.io/about-us/">About Us</a></li>
                                         <li class="menu-items"><a href="https://10web.io/affiliates/">Affiliates</a></li>
                                         <li class="menu-items"><a href="https://jobs.10web.io/cc5fe0ae254f42deb69a74c6e97da554">Careers</a></li>
                                         <li class="menu-items"><a href="https://10web.io/customer-care-support/">Contact Us</a></li>
                                         <li class="menu-items"><a href="https://10web.io/pricing-platform/">Pricing</a></li>
                                         <li class="menu-items"><a href="https://10web.io/abuse/">Report Abuse</a></li>
                                         <li class="menu-items"><a href="https://status.10web.io/" target="_blank">System Status</a></li>
                                         <li class="menu-items"><a href="https://10web.io/privacy-policy/">Legal &amp; Compliance Center</a></li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-bottom-container">
            <div class="footer-bottom-content-right">
                <div class="footer_copyright_title">Follow us</div>
                <ul class="social_icons">
                    <li>
                        <a href="https://join.slack.com/t/10webexperts/shared_invite/zt-1fx3ih612-astlsCmwDIGxO2cd1TzEMA"
                           target="_blank" class="slack"></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/10Web_io" target="_blank" class="tw"></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/c/10Web" target="_blank" class="yt"></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/10Web.io/" target="_blank" class="fb"></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/10web/" target="_blank" class="in"></a>
                    </li>
                </ul>
            </div>
            <div class="footer-bottom-content-left">
                <p class="copyright_info">Copyright © <span class="full_year"></span> TenWeb. All rights reserved.<br>
                    <a href="https://10web.io/privacy-policy/" id="privacy-policy">Privacy</a>
                    <a href="https://10web.io/terms-of-service/" id="terms-of-services">Terms of Service</a>
                    <a href="https://10web.io/service-level-agreement/" id="sla">SLA</a>
                    <a href="https://10web.io/abuse/" id="report-abuse">Report Abuse</a>
                    <a href="https://10web.io/domain-name-services-agreement/" id="dnsa">Domain Name
                        Services Agreement</a>
                </p>
            </div>
        </div>
    </div>
</footer>
