<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://metrics.10web.io/ns.html?id=GTM-M6GPZ95"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


<!--Event popup-->

<div class="top-bar-container">
    <div class="container">
        <div class="top-bar-countdown">
	      <div id="countdown"></div>
        </div>
        <div class="top-bar__content">
            <p class="top">Join us online <br class="mobile">on February 16th 8:00 AM PST <br class="desktop tablet">for
                <br class="mobile"><span class="marked">SpeedBoost ’23 free</span> virtual event!</p>
        </div>
        <div class="top-bar__link">
            <a href="https://10web.io/speedboost-23/" class="tw_button green_bg hosting_sub_site">Register Now</a>
        </div>
    </div>
</div>
<!--Event popup end-->

<header class="header">
  <div class="header_fixed">
     <div class="header_container container">
        <div class="header_left">
          <div class="menu-icon">
            <div>
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="logo">
            {{#link 'help_center'}}
              <div class="help-center-logo" ></div>
            {{/link}}
          </div>
          {{#link 'requests' class='my-tickets-link logged-in'}}My Tickets{{/link}}
      </div>
      <div class="header_right">
        <div class="header_search">
          <span class="toggle-search icon-search"></span>
          {{search submit=false instant=settings.instant_search class='search' placeholder='Search The Help Center'}}
          <div class="icon-close"></div>
        </div>
        <div class="user_info_section">
          {{user_info}}
        </div>
      </div>
   </div>
   <div id="mobile-menu">
     <div class="mobile-menu-logged-in">
       <div class="container">
        {{#link 'requests' class='my-tickets-link logged-in'}}My Tickets{{/link}}
       </div>
     </div>
     <div class="container">
       <div class="mobile-menu-container"></div>
       <div class="mobile-menu-logged-out"></div>
     </div>
    </div>
  </div>
</header>
