<div class="home-page">
  <section class="section hero">
     <div class="container">
        <div class="hero-inner">
            <p class="header_text header_title">Hi. <br class="mobile">How can we help?</p>
          {{search submit=false instant=settings.instant_search class='search search-full' placeholder='Search...'}}
        </div>
       </div>
  </section>
      
  <div class="container_top">
	  <div class="container">
      <div class="container_top_grid">
        <div class="container_top_item getting_started">
          <a href="/hc/en-us/categories/4403735323410"></a>
          <h3>Getting Started</h3>
          <p>All you need to know to start hosting & <br class="desktop tablet mobile">building on the 10Web platform.</p>
          <a href="/hc/en-us/categories/4403735323410" class="learn-more">Learn More</a>
          <div class="scaled"></div>
        </div>
        <div class="container_top_item wp_platform">
          <a href="/hc/en-us/categories/4403729393554"></a>
          <h3>Automated WP Platform</h3>
          <p>Hosting, services, features, & more. <br class="mobile">Learn <br class="desktop">how <br class="tablet">to use the 10Web <br class="mobile">Automated platform.</p>
          <a href="/hc/en-us/categories/4403735323410" class="learn-more">Learn More</a>
          <div class="scaled"></div>
        </div>
        <div class="container_top_item builder">
          <a href="/hc/en-us/categories/4403729943442"></a>
          <h3>10Web Builder</h3>
          <p>Learn to recreate with AI, to build, & to <br class="mobile">edit <br class="desktop tablet">websites with the 10Web Editor.</p>
          <a href="/hc/en-us/categories/4403735323410" class="learn-more">Learn More</a>
          <div class="scaled"></div>
        </div>
        <div class="container_top_item account_payment">
          <a href="/hc/en-us/categories/4403736661266"></a>
          <h3>Account & Payment</h3>
          <p>Learn to manage your account, payments,<br class="desktop tablet mobile"> subscription, & business features.</p>
          <a href="/hc/en-us/categories/4403735323410" class="learn-more">Learn More</a>
          <div class="scaled"></div>
        </div>
        <div class="container_top_item video_tutorial">
          <a href="/hc/en-us/articles/4408397419538/"></a>
          <h3>Video Tutorials</h3>
          <p>Check out our video tutorial library & <br class="mobile">learn <br class="desktop">how to <br class="tablet">use the 10Web platform.</p>
          <a href="/hc/en-us/articles/4408397419538/" class="learn-more">Learn More</a>
          <div class="scaled"></div>
        </div>
        <div class="container_top_item troubleshooting">
          <a href="/hc/en-us/categories/4403731365906"></a>
          <h3>Troubleshooting</h3>
          <p>Find solutions to the most common issues <br class="desktop tablet mobile">of our platform.</p>
          <a href="/hc/en-us/categories/4403735323410" class="learn-more">Learn More</a>
          <div class="scaled"></div>
        </div>
      </div>
      <div class="container_top_bottom_item plugins">
        <a href="/hc/en-us/categories/4403730877330"></a>
        <h3>Plugins</h3>
        <p>Learn how to use 10Web plugins & get <br class="mobile">your sites looking <br class="tablet">& working the way you <br class="mobile">want.</p>
        <a href="/hc/en-us/categories/4403730877330" class="learn-more">Learn More</a>
      </div>
    </div>
  </div>
  <div class="container_resources">
	  <div class="container">
		<div class="resources_left"> 
		  <h2 class="section-title">Resources</h2>
      <p>Check our public roadmap to see what is <br class="mobile">coming up, <br class="desktop">join our Facebook community <br class="tablet mobile">to ask any WP questions, <br class="desktop">& share your <br class="mobile">ideas with us.</p>
		</div>  
		<div class="resources_right"> 
		    <div class="resource_item public_roadmap"> 
			  <a href="/hc/en-us/articles/360028017772-Public-roadmap"></a>
			  <h4>Public Roadmap</h4>
			</div> 
		    <div class="resource_item facebook_community"> 
			  <a href="https://www.facebook.com/groups/356970164992808/" target="_blank"></a>
			  <h4>Facebook Community</h4>
			</div> 
		    <div class="resource_item submit_your_idea"> 
			  <a href="/hc/en-us/community/topics"></a>
			  <h4>Submit Your Idea</h4>
			</div> 
		</div> 
	  </div>
  </div>
  <div class="container_featured_articles">
	  <div class="container">
		  <h2 class="section-title">Featured Articles</h2>
		  <div class="featured_articles">
			  {{#each promoted_articles}}
				  <a href="{{url}}">{{title}}</a>
			  {{/each}}
		  </div>
	  </div>
  </div>
</div>
