<div class="home-page">
  <section class="section hero">
    <div class="hero-inner">
        <h1 class="header_text header_title">10Web Help Center</h1>
        <p class="header_text header_desc">Hi, how can we help?</p>
      {{search submit=false instant=settings.instant_search class='search search-full'}}
    </div>
  </section>

  <div class="container">
      <div class="container_top">
          <a href="https://help.10web.io/hc/en-us/sections/360004115912-Pre-sales-Questions">Pre-sales</a>
          <a href="https://help.10web.io/hc/en-us/sections/360002159011-Getting-Started">Getting Started</a>
          <a href="https://help.10web.io/hc/en-us/sections/360004115952-Billing-and-Payment">Billing and Payment</a>
      </div>
      <div class="container_services">
          <h2 class="services_title section-title">Services</h2>
          <a class="s_hosting" href="https://help.10web.io/hc/en-us/categories/360000963851-Hosting">Hosting</a>
          <a class="s_backup" href="https://help.10web.io/hc/en-us/sections/360002169212-Backup-Service">Backup</a>
          <a class="s_optimizer" href="https://help.10web.io/hc/en-us/sections/360002369692-Image-Optimizer">Image Optimizer</a>
          <a class="s_security" href="https://help.10web.io/hc/en-us/sections/360002159051-Security-Service">Security</a>
          <a class="s_seo" href="https://help.10web.io/hc/en-us/sections/360002363691-SEO-by-10Web">SEO</a>
          <a class="s_performance" href="https://help.10web.io/hc/en-us/sections/360002369712-Performance">Performance</a>
      </div>
      <div class="container_plugins">
          <h2 class="plugins_title section-title">Plugins</h2>
          <a class="plugin" href="https://help.10web.io/hc/en-us/categories/360001747711-Form-Maker">Form Maker</a>
          <a class="plugin" href="https://help.10web.io/hc/en-us/categories/360001749552-Photo-Gallery">Photo Gallery</a>
          <a class="plugin" href="https://help.10web.io/hc/en-us/sections/360002159151-Instagram-Feed">Instagram</a>
          <a class="plugin" href="https://help.10web.io/hc/en-us/sections/360002159131-Slider">Slider</a>
          <a class="plugin" href="https://help.10web.io/hc/en-us/categories/360001820392-Event-Calendar">Event Calendar</a>
          <a class="plugin" href="https://help.10web.io/hc/en-us/sections/360002169272-Google-Maps-WD">Google Maps</a>
          <div class="see_all_plugins">
              <a href="https://help.10web.io/hc/en-us/categories/360000887951-Plugins">SEE ALL PLUGINS</a>
          </div>
      </div>
      <div class="container_questions">
          <h2 class="questions_title section-title">Common questions</h2>
          <div class="question_section">
              <h4  class="q_title">What is 10Web platform?</h4>
              <div class="q_desc"><p>10Web is a unique all-in-one platform for building and hosting WordPress websites. It includes all essential components and services you need for a great WP website: fast and secure hosting powered by Google Cloud; an advanced website builder on top of Elementor with a great variety of site templates; security, backup, SEO, performance, image optimization services; 50+ premium 10Web plugins and extensions; 24/7 customer care.</p><p>Read More about it here: <a href="https://10web.io/blog/what-can-i-get-from-10web/">https://10web.io/blog/what-can-i-get-from-10web/</a> </p></div>
          </div>
          <div class="question_section">
              <h4 class="q_title">I am unhappy with my current hosting provider. Do you provide any incentives to move to you?</h4>
            <div class="q_desc"><p><span>There are plenty of incentives! </span></p>
                <ul>
                  <li><span>Your website will load up to 3 times faster.</span></li>
                  <li><span>Switching to 10Web hosting and then managing all the technical components of hosting will be really easy.</span></li>
                  <li><span>You’ll get super fast and secure hosting powered by Google Cloud.</span></li>
                  <li><span>Thanks to elastic scaling, your website will never go down because of traffic increases. </span></li>
                  <li><span>You can take advantage of multiple data centers, caching and staging services. </span></li>
                  <li><span>You’ll be able to access automatically created backup restore points from the previous 10 days. </span></li>
                </ul>
            </div>
          </div>
          <div class="question_section">
              <h4 class="q_title">How Can I Test 10Web Platform?</h4>
            <div class="q_desc"><p>We have a free 7 day trial offer, no credit card is required. Just go to&nbsp;<a href="https://10web.io/">our homepage,</a>&nbsp;sign up and give the platform a test drive.</p>
           </div>
          </div>
          <div class="question_section">
              <h4 class="q_title">Are 10Web plugin/bundle plans recurring ?</h4>
            <div class="q_desc"><p>You pay for the plugin just once and can use it forever, with no limitation.</p>

<p>In order to have access to newly released functionality, updates and support we recommend you remain subscribed. If you don’t want future updates and premium support, you can cancel your subscription from your account anytime.</p></div>
          </div>
      </div>
  </div>
</div>