<div class="home-page">
  <section class="section hero">
    <div class="hero-inner">
        <p class="header_text header_title">10Web Help Center</p>
        <p class="header_text header_desc">Hi, how can we help?</p>
      {{search submit=false instant=settings.instant_search class='search search-full'}}
    </div>
  </section>
  <div class="container">
      <div class="container_top">
          <a href="https://help.10web.io/hc/en-us/sections/360004115912-Pre-sales-Questions">Pre-sales</a>
          <a href="https://help.10web.io/hc/en-us/sections/360002159011-10Web-Dashboard-Getting-Started">Getting Started</a>
          <a href="https://help.10web.io/hc/en-us/sections/360004115952-Billing-and-Payment">Billing and Payment</a>
          <a href="https://help.10web.io/hc/en-us/sections/360005970771">AppSumo FAQ</a>
          <a href="https://help.10web.io/hc/en-us/sections/360005963032-Dashboard-FAQ">Dashboard FAQ</a>
          <a href="https://help.10web.io/hc/en-us/sections/360003237880-What-s-New-at-10Web">What's New</a>
      </div>
      <div class="container_services">
          <h2 class="services_title section-title">Services</h2>
          <a class="s_hosting" href="https://help.10web.io/hc/en-us/categories/360000963851-Hosting">Hosting</a>
          <a class="s_backup" href="https://help.10web.io/hc/en-us/sections/360002169212-Backup-Service">Backup</a>
          <a class="s_optimizer" href="https://help.10web.io/hc/en-us/sections/360002369692-Image-Optimizer">Image Optimizer</a>
          <a class="s_security" href="https://help.10web.io/hc/en-us/sections/360002159051-Security-Service">Security</a>
          <a class="s_seo" href="https://help.10web.io/hc/en-us/sections/360002363691-SEO-by-10Web">SEO</a>
          <a class="s_performance" href="https://help.10web.io/hc/en-us/sections/360002369712-Performance">Performance</a>
      </div>
      <div class="container_services">
          <h2 class="services_title section-title">10Web Builder</h2>
          <a href="https://help.10web.io/hc/en-us/sections/360005912612-10Web-Builder-Getting-Started">Getting Started</a>
          <a href="https://help.10web.io/hc/en-us/categories/360001970471-Features">Features</a>
          <a href="https://help.10web.io/hc/en-us/categories/360001970491-Widgets">Widgets</a>
      </div>
      <div class="container_plugins">
          <h2 class="plugins_title section-title">Plugins</h2>
          <a class="plugin" href="https://help.10web.io/hc/en-us/categories/360001747711-Form-Maker">Form Maker</a>
          <a class="plugin" href="https://help.10web.io/hc/en-us/categories/360001749552-Photo-Gallery">Photo Gallery</a>
          <a class="plugin" href="https://help.10web.io/hc/en-us/sections/360002159151-Instagram-Feed">Instagram</a>
          <a class="plugin" href="https://help.10web.io/hc/en-us/sections/360002159131-Slider">Slider</a>
          <a class="plugin" href="https://help.10web.io/hc/en-us/categories/360001820392-Event-Calendar">Event Calendar</a>
          <a class="plugin" href="https://help.10web.io/hc/en-us/sections/360002169272-Google-Maps-WD">Google Maps</a>
          <div class="see_all_plugins">
            <a href="https://help.10web.io/hc/en-us/categories/360000887951-Plugins">SEE ALL PLUGINS</a>
          </div>
      </div>
      <div class="container_questions">
          <h2 class="questions_title section-title">Common questions</h2>
          <div class="question_section">
            <h4  class="q_title">What is the 10Web Platform?</h4>
            <div class="q_desc"><p>10Web is an Automated WordPress Platform for building and hosting WordPress websites. All the essential components and services you need for a great WP website are included within 10Web: </p>
              <ul>
                <li><span>Fast and secure hosting powered by Google Cloud. </span></li>
                <li><span>AI Website Builder. </span></li>
                <li><span>Professional Templates. </span></li>
                <li><span>Automatic Website Optimization for high PageSpeed Score. </span></li>
                <li><span>Security Services. </span></li>
                <li><span>SEO. </span></li>
                <li><span>Analytics. </span></li>
                <li><span>Image Optimization. </span></li>
                <li><span>50+ Plugins. </span></li>
                <li><span>30+ Premium 10Web Widgets. </span></li>
                <li><span>24/7 Customer Care. </span></li>
              </ul>
            </div>
          </div>
          <div class="question_section">
            <h4 class="q_title">I am unhappy with my current hosting provider. Do you provide any incentives to move to 10Web?</h4>
            <div class="q_desc"><p><span>There are plenty of incentives! </span></p>
              <ul>
                <li><span>Automated WordPress Platform. </span></li>
                <li><span>Speed optimization services. </span></li>
                <li><span>Automated optimization of your entire website. </span></li>
                <li><span>Build websites using AI assistance. </span></li>
                <li><span>Fast and secure hosting powered by Google Cloud. </span></li>
                <li><span>Elastic scaling, assuring that your website will never go down because of traffic increases. </span></li>
                <li><span>Take advantage of multiple data centers, caching, and staging services. </span></li>
                <li><span>Backup solutions. </span></li>
                <li><span>High class security. </span></li>
                <li><span>SEO. </span></li>
                <li><span>Analytics and Reports. </span></li>
                <li><span>24/7 Customer Care. </span></li>
              </ul>
            </div>
          </div>
          <div class="question_section">
              <h4 class="q_title">How Can I Test the 10Web Platform?</h4>
              <div class="q_desc"><p>We have a free 7 day trial offer, no credit card is required. Just go to&nbsp;<a href="https://10web.io/">our homepage,</a>&nbsp;sign up and give the platform a test drive.</p>
          </div>
          </div>
          <div class="question_section">
            <h4 class="q_title">Are 10Web plugin/bundle plans recurring ?</h4>
            <div class="q_desc"><p>You pay for the plugin just once and can use it forever, with no limitation.</p>
            <p>In order to have access to newly released functionality, updates and support we recommend you remain subscribed. If you don’t want future updates and premium support, you can cancel your subscription from your account anytime.</p></div>
          </div>
      </div>
  </div>
</div>